@import '../../responsive.scss';

.profilePage{
    display:flex;
    height:100%;

    @include md{
        flex-direction: column;
        overflow: scroll;
    }
    .details{
        flex:3; 
        width:740px;  
        overflow-y: scroll;
        padding-bottom: 50px;  
        
        @include md{
            flex:none;
            height:max-content;
        }
        .wrapper{
          padding-right: 50px;
          display:flex;
          flex-direction: column;
          gap:20px;

          .title{
            width:100%;
            display: flex;
            justify-content: space-between;

            h1{
                font-size: 28px;
            }
             button{
                padding:10px 15px;
                background-color: rgb(240, 240, 89);
                font-weight: bold;
                cursor:pointer;
                border:none;
             }
            
          }

          .info{
            display:flex;
            flex-direction: column;
            gap:20px;
              @include md{
                flex:none;
                height:max-content;
              }
            span{
                display:flex;
                align-items: center;
                gap:10px;
            }
        
            img{
                width:40px;
                height:40px;
                border-radius: 50%;
                object-fit:cover;
            }
          }
        }

        

    }

    .chatContainer{
        flex:2;
        background-color: rgb(246, 173, 173);
        height:100%;
        
        @include md{
            flex:none;
            height:max-content;
        }
        .wrapper{
            padding:0px 20px;
            height:100%;
        }
    }

}